.popup__close-button {
    background-image: url("../../../images/close-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    position: absolute;
    top: -36px;
    right: -36px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
  }

  @media screen and (max-width: 424px) {
    .popup__close-button {
      top: -40px;
      right: -5px;
    }
  }

  .popup__close-button:hover {
    opacity: .6;
  }

  .popup__close-button:focus {
    outline: none;
    opacity: .6;
  }